/* clear fix用 */
.clear {
  content: "";
  clear: both;
  display: block;
}

body {
  color: #333;
  margin: 0;
  font-family: "Noto Sans Japanese", sans-serif;
  /* fontちゃんと適用されてない気がする */
}

p {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #c9c3c3;
}

a:active {
  color: #c9c3c3;
}

small {
  color: #8c8786;
}

/* ヘッダー */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  margin: 0;
}

p.second img {
  margin-left: 25px;
}

p.third img {
  margin-left: 25px;
}

/* パンくずリスト、キャッチコピーまとめたやつ */
.catchCopy {
  margin-left: 180px;
}

/* ページ */
#page {
  width: 800px;
  margin: 0 auto;
}

/* ページ後半 企業情報以下 */
#pageBottom {
  width: 980px;
  margin: 0 auto;
}

/* nav バー */
.navLanguage img {
  margin-left: 20px
}

.navMenu img {
  margin-left: 20px
}

.navBar:after {
  content: "";
  clear: both;
  display: block;
}

.navBarLeft {
  float: left;
}

.navBarRight {
  float: right;
}

.navBarRight:after {
  content: "";
  clear: both;
  display: block;
}

.navBarRight a {
  display: block;
}

.navBarRight a:hover {
  opacity: 0.7;
}

.navBarRight .third a:hover {
  opacity: 1;
}

/* 画像周りのパディングを消す */
.navBarLeft p {
  margin: 0;
  padding-left: 40px;
}

.navBarRight p {
  float: left;
  margin: 0;
}

/* パンくずリスト */
.topicPath {
  font-size: 12px;
  margin-top: 130px;
  margin-bottom: 75px;
  color: #c9c3c3;
  font-size: ;
  line-height: ;
}

/* 見出し */
.pageTitle {
  font-size: 26px;
  color: #fff;
}

p.pageTitle {
  font-size: 20px;
}

.topImage {
  position: absolute;
  top: 170px;
  left: 0;
  z-index: -1;
}

.heading-typeA {
  font-size: 22px;
  margin-bottom: 40px;
}

/* share バー */
.navShareTop {
  float: right;
  margin-top: 140px;
  margin-bottom: 50px;
}

.navShareTop ul {
  content: "";
  clear: both;
  display: block;
}

.navShareTop ul li {
  list-style: none;
  float: left;
}

.navShareTop ul li:first-child {
  font-size: 10px;
  /* ここを直すとこおrから始めよう */
  font-weight: bold;
  margin-top: 5px;
}

.navShareTop ul li img {
  padding-left: 20px;
}

.articleDetailBody {
  content: "";
  clear: both;
  display: block;
  /* clearfixはclearfixしたい要素にかける。親要素ではない。 */
  margin-bottom: 40px;
}

.articleDetailBodyHeader h1 {
  margin-top: 0;
  padding-left: 5px;
}

.articleDetailBody p {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.articleDetailBodyHeader {
  display: flex;
}

/* share bar 設定トライしたけどわかんないからコメントアウトする */
/* .navShareBar {
  background-color: #ccc;
}

.navShareBar ul:after{
  content: "";
  clear: both;
  display: block;
}

.navShareBar ul li {
  float: left;
  width: 150px;
  list-style: none;
  background-color: #ccc;

} */
/* ボタン */
.btn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 75px;
}

.btn :hover {
  opacity: 0.7;
}

/* アーティクルリスト */
.portfolioIndex article {
  width: 185px;
  height: 370px;
  float: left;
  margin-left: 20px;
  /* border: 1px solid #ccc; */
}

.portfolioIndex article:first-child {
  margin-left: 0px;
}



.listTitle {
  background-color: #1F5CAC;
  color: #fff;
  z-index: 0;
}

p.listTitle {
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 0;
}

a.listAndImage{
  content: "";
clear: both;
display: block;
height: 185px;
width: 185px;
margin-bottom: 15px;
}

a.listAndImage:hover{

  border: 1px solid #005BAC;

}

.portfolioIndexHonbun{
  font-size: 14px;
  line-height: 21px;
  color: #333;
  weight: 400;
}

.portfolioIndex article img {
  position: relative;
  top: -40px;
  z-index: -1;
  margin-bottom: -30px;
  border: 1px solid #ccc;
}

.portfolioIndexTag {
  display: flex;
}

.portfolioIndexTag p {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-left: 5px;
  font-size: 12px;
  margin-top: -4px;
}

.portfolioIndexTag p:first-child {
  margin-left: 0px;
}

.portfolioIndex article:nth-child(5) {
  margin-left: 0;
}

.portfolioIndexHonbun {
  margin-top: 0;
}

a.portfolioIndexTag {}

.keiei a, .dx a, .businessIt a, .kuwatu a, .desimarke a {
  color: #000;
}

.keiei a:hover, .dx a:hover, .businessIt a:hover, .kuwatu a:hover, .desimarke a:hover {
  text-decoration: underline;
}

a.portfolioIndexText:hover {
  text-decoration: underline;
}

a.portfolioIndexText:visited,
a.portfolioIndexTag {
  color: #000;
}

a.portfolioIndexText:hover,
a.portfolioIndexTag {
  color: #000;
}

a.portfolioIndexText:active,
a.portfolioIndexTag {
  color: #000;
}

.time {
  content: "";
  clear: both;
  display: block;
  margin-top: -2px;
  font-style: 14px;
  line-height: 26px;
  color: #666;
}

/* footer nav 左右のナビゲーション ビジネスモデルの特徴のところ */
section.footerNav {
  content: "";
  clear: both;
  display: block;
  padding-top: 150px;
  font-size: 16px;
  line-height: 30px;
  color: #0c419a;
  margin-bottom: 100px;
}

.footerNav a:hover{
  color: inherit;
  text-decoration: underline;
}

.footerNavLeft {
  float: left;
}

.footerNavRight {
  float: right;
}

/* NRIの強み　追加された箇所 */
section.nriStrength {
  content: "";
  clear: both;
  display: block;
  background-color: #DEECF8;
  padding: 10px 20px 40px;
  margin: 60px 0 0;
}

section.nriStrength h2 {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
  color: #333;
  weight: 700;
}

section.nriStrength p {
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 19px;
  color: #0c419a;
  background-color: #fff;
  margin-left: 20px;
  width: 250px;
  height: 70px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

section.nriStrength p a {
  display: block;
}

section.nriStrength p a:hover {
  background-color: #F4F4F4;
  color: inherit;
}

section.nriStrength p:first-child {
  margin-left: 0px;
}

.nriStrengthTop {
  display: flex;
}

.nriStrengthBottom {
  display: flex;
}

div.nriStrengthBottom p {
  height: 50px;
  margin-top: 0
}

.nriStrengthTop p small,
.nriStrengthBottom p small {
  padding-right: 10px;
}

/* navshare ページ中央 */
.navShareMiddle {
  float: right;
  margin-top: 30px;
  margin-bottom: 100px;
}

.navShareMiddle ul {
  content: "";
  clear: both;
  display: block;
}

.navShareMiddle ul li {
  list-style: none;
  float: left;
}

.navShareMiddle ul li:first-child {
  font-size: 10px;
  /* ここ直さないと */
  font-weight: bold;
  margin-top: 5px;
}

.navShareMiddle ul li img {
  padding-left: 20px;
}

/* 企業情報 経営方針*/
.corporateInfomation {
  content: "";
  clear: both;
  display: block;
}

.corporateInfomation h1 {
  font-size: 20px;
  line-height: 38px;
  border-top: 2px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.corporateInfomation a:hover{
  color: inherit;
  text-decoration: underline;
}

.corporateInfomationContents {
  padding: 30px 0;
  /* padding-bottom: 110px; */
  border-top: 1px dotted #000;
}

.corporateInfomationContents:nth-child(3) ul{
  padding-bottom: 60px;
}

.corporateInfomationContents:nth-child(4) ul{
  padding-bottom: 60px;
}

.corporateInfomationContents:nth-child(5) {
  border-bottom: 1px dotted #000;
}

.corporateInfomationContents:nth-child(5) ul{
padding-bottom: 20px;
}

.corporateInfomationContents h2 {
  font-size: 16px;
  line-height: 30px;
  color: #333;
  font-weight: 700;
  margin-top: 0;
}

.corporateInfomation ul {
  padding-inline-start: 0px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.corporateInfomation ul li {
  width: 245px;
  float: left;
  font-size: 14px;
  line-height: 21px;
  color: #0c419a;
  font-weight: 400;
  margin-bottom: 20px;
  /* background-color: #ccc; */
}

/* 前のページに戻る */
.backPage {
  content: "";
  clear: both;
  display: block;
  margin: 80px 0;
  font-size: 16px;
  line-height: 30px;
  color: #0c419a;
  font-weight: 400;
}

.backPage a:hover{
  color: inherit;
  text-decoration: underline;
}

/* navshare ページ下部 */
.navShareBottom {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 300px;
  margin-bottom: 40px;
}

.navShareBottom ul {}

.navShareBottom ul li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  color: #005bac;
  weight: 700;
  font-family: "HelveticaNeue"
}

.navShareBottom ul li img {
  margin-left: 40px;
}

/* ナレッジインサイト以下のフッター達 */
.footerContents {
  content: "";
  clear: both;
  display: block;
}

.footerContents a:hover{
  color: inherit;
  text-decoration: underline;
}

.footerContents h3 {
  font-size: 16px;
  line-height: 24px;
  color: #666;
  weight: 700;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footerContents h3 small {
  color: #8c8786;
}

.footerContents ul {
  padding-left: 0;
}

.footerContents ul li {
  font-size: 14px;
  line-height: 21px;
  weight: 400;
  color: #666;
  margin-top: 20px;
}

.footerContentsGroup {
  display: flex;
}

.footerContentsDetail {
  width: 225px;
  margin-left: 10px;
  margin-right: 10px;
}

/* 免責条項など */
footer ul {
  display: flex;
  margin-top: 60px;
  padding-left: 0;
}

footer ul li {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  weight: 400;
  border-left: 1px solid #999;
  padding: 0 15px;
}

footer ul li:first-child {
  border-left: 0px;
  padding-left: 0px;
}

footer a:hover{
  color: inherit;
  text-decoration: underline;
}

#copyright {
  font-size: 12づえｔpx;
  line-height: 19px;
  color: #333;
}
