/* clear fix用 */
.clear {
  content: "";
  clear: both;
  display: block;
}

body {
  color: #333;
  margin: 0;
}

p {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #c9c3c3;
}

a:hover {
  color: #c9c3c3;
}

a:active {
  color: #c9c3c3;
}

/* ヘッダー */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  margin: 0;
}

/* パンくずリスト、キャッチコピーまとめたやつ */
.catchCopy {
  margin-left: 180px;
}

/* ページ */
#page {
  width: 980px;
  margin: 0 auto;
}

/* nav バー */
.navLanguage img {
  margin-left: 20px
}

.navMenu img {
  margin-left: 20px
}

.navBar:after {
  content: "";
  clear: both;
  display: block;
}

.navBarLeft {
  float: left;
}

.navBarRight {
  float: right;
}

.navBarRight:after {
  content: "";
  clear: both;
  display: block;
}

/* 画像周りのパディングを消す */
.navBarLeft p {
  margin: 0;
  padding-left: 40px;
}

.navBarRight p {
  float: left;
  margin: 0;
}

/* パンくずリスト */
.topicPath {
  margin-top: 130px;
  margin-bottom: 75px;
  color: #c9c3c3;
  font-size: ;
  line-height: ;
}

/* 見出し */
.pageTitle {
  font-size: 26px;
  color: #fff;
}

.topImage {
  position: absolute;
  top: 170px;
  left: 0;
  z-index: -1;
}

.heading-typeA {
  font-size: 18px;
}

/* share バー */
.navShareTop {
  float: right;
  margin-top: 100px;
}

.navShareTop ul {
  content: "";
  clear: both;
  display: block;
}

.navShareTop ul li {
  list-style: none;
  float: left;
}

.navShareTop ul li:first-child {
  font-size: 12px;
  vertical-align: top;
  /* ここを直すとこおrから始めよう */
}

.navShareTop ul li img {
  padding-left: 20px;
}

.articleDetailBody {
  content: "";
  clear: both;
  display: block;
  /* clearfixはclearfixしたい要素にかける。親要素ではない。 */
}

/* share bar 設定トライしたけどわかんないからコメントアウトする */
/* .navShareBar {
  background-color: #ccc;
}

.navShareBar ul:after{
  content: "";
  clear: both;
  display: block;
}

.navShareBar ul li {
  float: left;
  width: 150px;
  list-style: none;
  background-color: #ccc;

} */
/* ボタン */
.btn {
  text-align: center;
}

.btn :hover {
  opacity: 0.7;
}

/* アーティクルリスト */

.portfolioIndex article {
  width: 245px;
  height: 500px;
  float: left;
  /* padding-left: 25px; */
  /* 各項目のすきまをあけるために指定したが、無駄に思える。なぜなら、各項目はWidth 245pxで指定していて、画像は185pxなのでどうしても隙間ができる。
  なのでわざわざpadding or marginを指定するとその分余計に隙間が空くんだな。 */
  box-sizing: border-box;

  /* border: 1px solid #ccc; */
}

.portfolioIndex article:first-child {
  margin-left: 0px;
}

.listTitle {
  background-color: #1F5CAC;
  color: #fff;
  z-index: 0;
}

p.listTitle {
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
}

.portfolioIndex article p{
  width: 180px;
}


.portfolioIndex article img {
  position: relative;
  top: -35px;
  z-index: -1;
}

.dx {
  float: left;
}

.keiei {
  float: left;
  padding-left: 10px;
}

.time {
  content: "";
  clear: both;
  display: block;
}

/* footer nav 左右のナビゲーション */
section.footerNav {
  content: "";
  clear: both;
  display: block;
}

.footerNavLeft {
  float: left;
}

.footerNavRight {
  float: right;
}

/* navshare bottom */
.navShareBottom {
  content: "";
  clear: both;
  display: block;
  float: right;
}

.navShareBottom ul {
  content: "";
  clear: both;
  display: block;
}

.navShareBottom ul li {
  list-style: none;
  float: left;
  width: 100px;
}

/* 企業情報 経営方針 */
.corporateInfomation {
  content: "";
  clear: both;
  display: block;
}

.corporateInfomation h1 {
  border-top: 1px solid #ccc;
}

section.corporateInfomationContents {
  border: 1px dotted #ccc;
}

.corporateInfomation ul {
  padding-inline-start: 0px;
  /* cssリセットを見直ししよう。こんなのテキストだと設定してなかったもんな。何かが抜けているはず */
}

.corporateInfomation ul li {
  width: 230px;
  float: left;
  background-color: #ccc;
}

/* 企業情報 NRIの強み */
.corporateInfomationStrength h2 {
  content: "";
  clear: both;
  display: block;
}

/* 企業情報　企業案内 */
.corporateInfomationGuidance h2 {
  content: "";
  clear: both;
  display: block;
}

/* 企業情報　国内・海外拠点 */
.corporateInfomationOffice h2 {
  content: "";
  clear: both;
  display: block;
}
